/* create: kabanproff@gmail.com */
@import "https://fonts.googleapis.com/css?family=Lexend:400,500,600";

.container {
	width: 1640px;
	margin: 0 auto;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
td,
th {
	text-align: left;
	font-weight: 500;
	vertical-align: middle;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none;
}

a img {
	border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

body,
html {
	height: 100%;
}

*:where(:not(html,
iframe,
canvas,
img,
svg,
video,
audio):not(svg *,
symbol *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}

a,
button {
	cursor: revert;
}

ol,
ul,
menu,
summary {
	list-style: none;
}

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	-webkit-user-select: auto;
}

textarea {
	white-space: revert;
}

meter {
	-webkit-appearance: revert;
	-moz-appearance: revert;
	appearance: revert;
}

:where(pre) {
	all: revert;
	box-sizing: border-box;
}

::-webkit-input-placeholder {
	color: unset;
}

::-ms-input-placeholder {
	color: unset;
}

::placeholder {
	color: unset;
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable=true]) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
	box-sizing: border-box;
}

::-webkit-details-marker {
	display: none;
}

@font-face {
	font-family: "Futura PT";
	src: local("Futura PT"),local("Futura-PT"),url("../fonts/FuturaPT.woff2") format("woff2"),url("../fonts/FuturaPT.woff") format("woff"),url("../fonts/FuturaPT.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body,
html {
	height: 100%;
	min-height: 100%;
	margin: 0;
}

html {
	overflow: hidden;
}

body {
	font-size: 16px;
	font-family: Lexend,sans-serif;
	font-weight: 400;
	line-height: 28px;
	margin: 0;
	background-color: #110a1d;
	color: #fff;
	position: relative;
	overflow-x: hidden;
}

body.mm-opened {
	overflow: hidden auto;
	overflow: hidden;
}

main {
	display: block;
}

img {
	border: 0;
	max-width: 100%;
}

b,
strong {
	font-weight: bold;
}

ol,
ul {
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
	transition: all .15s ease-in-out;
	cursor: pointer;
}

a:hover {
	color: #478bf9;
}

em,
i {
	font-style: italic;
}

a,
input,
textarea {
	outline: 0;
}

input,
textarea {
	border-radius: 0;
}

th {
	text-align: left;
}

fieldset {
	padding: 0;
	border: 0;
	margin: 0;
}

blockquote {
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
	overflow: auto;
	min-height: 60px;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

button {
	border-width: 0;
	font-family: Lexend,sans-serif;
	border-radius: 0;
	outline: none;
}

button:focus {
	outline: none;
}

.btn {
	border-radius: 24px;
	padding: 12px;
	cursor: pointer;
	text-decoration: none;
	transition: all .15s ease-in-out;
	font-family: Lexend,sans-serif;
}

.btn-primary {
	background: #478bf9;
	color: #fff;
	border: 2px solid #478bf9;
}

.btn-primary:hover {
	background: rgba(0,0,0,0);
	color: #fff;
}

.btn-secondary {
	background: rgba(0,0,0,0);
	color: #fff;
	border: 2px solid #9dadf2;
}

.btn-secondary:hover {
	background: #478bf9;
	color: #fff;
}

.wrapper {
	padding-top: 16px;
	min-height: 100vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

main {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.bg {
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	max-width: 100vw;
}

.bg:before,
.bg:after {
	content: "";
	position: absolute;
}

.bg:before {
	width: 574px;
	height: 574px;
	left: calc(50% - 287px + 832px);
	top: 570px;
	background: linear-gradient(255.96deg, #478BF9 0%, #9DADF2 100%);
	opacity: .7;
	-webkit-filter: blur(325px);
	filter: blur(325px);
}

.bg:after {
	width: 226px;
	height: 1302px;
	left: 184px;
	top: -185px;
	background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.4) 100%);
	opacity: .55;
	-webkit-filter: blur(150px);
	filter: blur(150px);
	-webkit-transform: rotate(-54.31deg);
	transform: rotate(-54.31deg);
}

.home-page {
	display: grid;
	-webkit-align-items: center;
	align-items: center;
	grid-template-columns: 43% 22% 36%;
}

.mm-opened header {
	background-color: #110a1d;
}

.mm-opened main {
	height: 100vh;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 500;
	line-height: 1;
}

h1,
.h1 {
	font-size: 96px;
}

h3,
.h3 {
	font-size: 40px;
}

h4,
.h4 {
	font-size: 32px;
}

header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-align-items: center;
	align-items: center;
	padding: 20px 44px;
	border: 4px solid #478bf9;
	border-radius: 64px;
	line-height: 20px;
	position: relative;
	z-index: 1000;
}

.head-logo {
	-webkit-flex: 0 1 23%;
	flex: 0 1 23%;
	max-width: 23%;
}

.navmenu {
	padding-left: 10px;
	padding-right: 10px;
	-webkit-flex: 1 0 50%;
	flex: 1 0 50%;
	max-width: 50%;
}

.navmenu__list {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-column-gap: 32.4px;
	-moz-column-gap: 32.4px;
	column-gap: 32.4px;
	row-gap: 10px;
}

.navmenu__link.active,
.navmenu__link:hover {
	text-decoration: underline;
	color: #478bf9;
}

.head-btns {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: center;
	align-items: center;
	-webkit-column-gap: 14px;
	-moz-column-gap: 14px;
	column-gap: 14px;
	max-width: 27%;
	-webkit-flex: 0 1 27%;
	flex: 0 1 27%;
}

.burger {
	cursor: pointer;
	transition: all .15s ease-in-out;
	position: relative;
	background-color: rgba(0,0,0,0);
	width: 30px;
	height: 30px;
	display: none;
}

.burger.active span {
	background-color: rgba(0,0,0,0);
}

.burger.active span::before {
	-webkit-transform: translate(0, 6px) rotate(45deg);
	transform: translate(0, 6px) rotate(45deg);
}

.burger.active span::after {
	-webkit-transform: translate(0, -6px) rotate(-45deg);
	transform: translate(0, -6px) rotate(-45deg);
}

.burger:hover {
	color: #478bf9;
}

.burger__icon {
	width: 30px;
	height: 30px;
	position: relative;
}

.burger__icon span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.burger__icon span,
.burger__icon span::before,
.burger__icon span::after {
	display: block;
	width: 21px;
	height: 2px;
	background-color: #fff;
	transition-property: background-color,-webkit-transform;
	transition-property: background-color,transform;
	transition-property: background-color,transform,-webkit-transform;
	transition-duration: 300ms;
	border-radius: 2px;
}

.burger__icon span::before,
.burger__icon span::after {
	position: absolute;
	content: "";
}

.burger__icon span::before {
	top: -6px;
}

.burger__icon span::after {
	top: 6px;
}

.sign,
.login {
	line-height: 20px;
}

.m-menu {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	background: #110a1d;
	padding-top: 66px;
	padding-bottom: 56px;
	overflow: auto;
	display: none;
}

.mm-opened .m-menu {
	display: block;
}

.m-menu .navmenu {
	margin-bottom: 30px;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.m-menu .navmenu__list {
	display: block;
	padding-top: 30px;
}

.m-menu .navmenu__item {
	margin-bottom: 5px;
}

.m-menu .navmenu__link {
	border: 2px solid #478bf9;
	padding: 12px 9px 10px 18px;
	border-radius: 28px;
	display: block;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}

.m-menu .sign,
.m-menu .login {
	padding-top: 11px;
	padding-bottom: 11px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 5px;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.lang {
	position: relative;
	font-size: 16px;
	padding-left: 36px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.lang:hover,
.lang.open {
	color: #fff;
}

.lang:hover .lang__link,
.lang.open .lang__link {
	font-size: inherit;
}

.lang.open svg {
	left: 11px;
}

.lang svg {
	width: 16px;
	height: 16px;
	position: absolute;
	left: 12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.lang__list {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.lang__list .lang:hover,
.open .lang__list {
	display: -webkit-inline-flex;
	display: inline-flex;
	position: relative;
	top: -3px;
}

.open .lang__item,
.lang:hover .lang__item {
	margin-right: 5px;
}

.lang__item.active .lang__link {
	font-size: inherit;
}

.lang__link {
	line-height: 1;
	font-size: 0;
}

.lang__link:hover {
	color: #fff;
}

footer {
	border-color: #478bf9;
	border-width: 4px 4px 0 4px;
	border-style: solid;
	border-radius: 64px 64px 0 0;
	padding-top: 36px;
	line-height: 20px;
	padding-bottom: 9px;
}

footer .navmenu__list {
	-webkit-column-gap: 41px;
	-moz-column-gap: 41px;
	column-gap: 41px;
	margin-bottom: -1px;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.footer-box {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	gap: 20px;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.social {
	text-align: right;
}

.social__list {
	display: -webkit-flex;
	display: flex;
	gap: 8px;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.social__text {
	margin-bottom: 13px;
}

.social__link {
	-webkit-mask: url("../images/svg/social/iconBg.svg");
	width: 32px;
	height: 32px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: #478bf9;
}

.social__link:hover {
	background-color: #6ca2fa;
}

.banner {
	padding-left: 7px;
	padding-top: 2px;
}

.banner h1 {
	margin-bottom: 25px;
}

.banner h1 span {
	color: #478bf9;
}

.banner .h4 {
	margin-bottom: 47px;
}

.banner .btn {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	text-align: center;
	border-radius: 48px;
	padding: 18px 71px 18px 69px;
	display: inline-block;
}

.sliders {
	z-index: 0;
	max-height: calc(100vh - 112px - 115px);
	min-height: 800px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	overflow: hidden;
	padding-left: 3px;
	padding-right: 5px;
}

.touchable-device .sliders {
	min-height: 330px;
}

.sliders:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background: linear-gradient(180deg, transparent 63.64%, rgb(0, 0, 0) 95.45%);
}

.sliders__line {
	height: 100%;
}

.sliders__line:nth-child(1) {
	opacity: .2;
}

.sliders__line:nth-child(1) .sliders__list {
	-webkit-animation: animate-ttb 10s linear infinite;
	animation: animate-ttb 10s linear infinite;
}

.sliders__line:nth-child(2) {
	margin-left: -2px;
	opacity: .6;
}

.sliders__line:nth-child(2) .sliders__list {
	-webkit-animation: animate-btt 40s linear infinite;
	animation: animate-btt 40s linear infinite;
}

.sliders__line:nth-child(2) .sliders__item {
	margin-bottom: 28px;
}

.sliders__line:nth-child(2) .sliders__item--lg {
	margin-top: -7px;
	margin-bottom: 36px;
}

.sliders__line:nth-child(3) {
	opacity: .4;
}

.sliders__line:nth-child(3) .sliders__list {
	-webkit-animation: animate-ttb 100s linear infinite;
	animation: animate-ttb 100s linear infinite;
}

.sliders__line:nth-child(3) .sliders__item--lg {
	margin-bottom: 30px;
	margin-top: -2px;
}

.sliders__item {
	margin-bottom: 24px;
}

.sliders__item--lg {
	margin-top: 7px;
}

.sliders__item--lg.sliders__item svg {
	height: 221px;
}

.sliders__list {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.sliders svg {
	width: 100px;
	height: 100px;
	display: block;
}

.ttb {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.btt {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.ltr {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.blog {
	padding-left: 51px;
	padding-top: 10px;
	padding-right: 9px;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 29px;
}

.blog__title {
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 24px;
	padding-right: 2px;
}

.blog__box {
	border-radius: 100px;
	border: 3px solid #478bf9;
	background-color: rgba(255,255,255,.12);
	height: 595px;
	padding: 0 13px 0 21px;
	overflow: hidden;
}

.blog__list {
	overflow-y: scroll;
	height: 100%;
	padding-right: 16px;
	padding-top: 21px;
	padding-bottom: 10px;
}

.browser-mozzila .blog__list {
	scrollbar-color: #478bf9 #575a74;
	scrollbar-width: thin;
}

.blog__list::-webkit-scrollbar {
	border-radius: 4px;
	width: 8px;
	height: 8px;
}

.blog__list::-webkit-scrollbar-track {
	border-radius: 4px;
	background: rgba(255,255,255,.12);
}

.blog__list::-webkit-scrollbar-thumb {
	background-color: #478bf9;
	border-radius: 4px;
	max-height: 100px;
	height: 100%;
}

.blog__list::-webkit-scrollbar-button:vertical {
	height: 93px;
	visibility: hidden;
}

.blog__item {
	background-color: #1e1231;
	border-radius: 196px;
	padding: 16px 64px;
	margin-bottom: 16px;
	display: block;
	cursor: pointer;
}

.blog__item:hover,
.blog__item.active {
	background-color: #478bf9;
	color: #fff;
}

.blog__date {
	font-family: Futura PT;
	font-weight: 450;
	font-size: 14px;
	line-height: 16px;
	margin-top: 14px;
}

@media (min-width: 1020px) {

.mm-opened .m-menu {
	display: none;
}

.vis-mob.vis-mob {
	display: none;
}

}

@media (max-width: 1679.98px) {

.container {
	width: 1280px;
}

.home-page {
	grid-template-columns: 41% 25% 34%;
}

h1,
.h1 {
	font-size: 89px;
}

.blog {
	padding-left: 45px;
}

.blog__item {
	padding-left: 54px;
	padding-right: 54px;
	border-radius: 66px;
}

}

@media (max-width: 1339.98px) {

.container {
	width: 992px;
}

.home-page {
	display: -webkit-flex;
	display: flex;
	grid-template-columns: 45% 55%;
}

h1,
.h1 {
	font-size: 80px;
}

header {
	padding-left: 15px;
	padding-right: 15px;
}

.head-logo {
	max-width: 15%;
}

.navmenu {
	max-width: 53%;
}

.navmenu__list {
	-webkit-column-gap: 15px;
	-moz-column-gap: 15px;
	column-gap: 15px;
}

.head-btns {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	max-width: 32%;
	-webkit-column-gap: 7px;
	-moz-column-gap: 7px;
	column-gap: 7px;
}

footer .navmenu {
	max-width: 100%;
}

.sliders {
	position: absolute;
	z-index: -1;
	min-height: 100vh;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: .2;
	width: 50%;
}

}

@media (max-width: 1019.98px) {

.container {
	width: 720px;
}

.home-page {
	display: block;
}

h1,
.h1 {
	font-size: 76px;
}

header {
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 8px;
	border-width: 2px;
}

header>.navmenu {
	display: none;
}

.head-btns>.login,
.head-btns>.sign {
	display: none;
}

.burger {
	display: inline-block;
}

.burger__icon {
	overflow: visible;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.burger {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.lang {
	padding: 6px 6.5px 3px;
}

.lang svg {
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	width: 19px;
	height: 19px;
}

.lang__list {
	display: none;
}

.open .lang__item,
.lang:hover .lang__item {
	margin-right: 0;
}

.lang__item.active .lang__link {
	font-size: 0;
}

.banner {
	text-align: center;
	margin-bottom: 50px;
	padding-top: 70px;
	padding-bottom: 60px;
	padding-left: 0;
}

.sliders {
	position: static;
	min-height: auto;
	opacity: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
	width: 200vw;
	padding-left: 0;
	padding-right: 0;
	height: initial;
	gap: 15px;
	margin-bottom: 80px;
}

.sliders__line {
	display: -webkit-flex;
	display: flex;
	width: 100vw;
	height: auto;
}

.sliders__line:nth-child(1) .sliders__list {
	-webkit-animation: animate-ltr 40s linear infinite;
	animation: animate-ltr 40s linear infinite;
}

.sliders__line:nth-child(2) {
	margin: 0;
}

.sliders__line:nth-child(2) .sliders__list {
	-webkit-animation: animate-rtl 40s linear infinite;
	animation: animate-rtl 40s linear infinite;
}

.sliders__line:nth-child(2) .sliders__item {
	margin: 0 10px;
}

.sliders__line:nth-child(2) .sliders__item {
	margin-left: 0;
	margin-right: 13px;
}

.sliders__line:nth-child(2) .sliders__item--lg {
	margin: 0 10px;
}

.sliders__line:nth-child(3) .sliders__list {
	-webkit-animation: animate-ltr 40s linear infinite;
	animation: animate-ltr 40s linear infinite;
}

.sliders__line:nth-child(3) .sliders__item--lg {
	margin: 0;
}

.sliders__item {
	margin: 0 10px;
}

.sliders__item--lg {
	margin: 0 15px;
}

.sliders__item--lg.sliders__item--crown.sliders__item svg {
	width: 100px;
	height: 100px;
}

.sliders__item--lg.sliders__item svg {
	height: 100px;
	width: 221px;
}

.sliders__list {
	-webkit-flex-direction: row;
	flex-direction: row;
}

.blog {
	margin-bottom: 80px;
	padding-left: 0;
	padding-right: 0;
}

.blog__item {
	padding-left: 54px;
	padding-right: 54px;
	border-radius: 100px;
}

.blog__item {
	padding-left: 35px;
	padding-top: 15px;
	padding-right: 17px;
	border-radius: 40px;
	margin-bottom: 10px;
}

.vis-desk.vis-desk {
	display: none;
}

}

@media (max-width: 767.98px) {

.container {
	margin: 0 10px;
	width: auto;
}

.head-btns {
	max-width: 50%;
}

footer .navmenu__list {
	row-gap: 4px;
	display: block;
}

.social {
	margin-left: auto;
}

}

@media (max-width: 499.98px) {

.btn {
	text-align: center;
}

.wrapper {
	padding-top: 10px;
}

h1,
.h1 {
	font-size: 46px;
	line-height: 50px;
}

h3,
.h3 {
	font-size: 32px;
	line-height: 40px;
}

h4,
.h4 {
	font-size: 20px;
	line-height: 26px;
}

.burger.active span {
	width: 21px;
}

.burger.active span::before {
	width: 21px;
}

.burger.active span::after {
	width: 21px;
}

footer {
	border-width: 2px 2px 0 2px;
	font-size: 14px;
	border-radius: 50px 50px 0 0;
	padding: 17px 3px 30px;
}

footer .navmenu {
	padding-left: 5px;
	padding-right: 5px;
	max-width: 100%;
}

footer .navmenu__item {
	margin-bottom: 2px;
}

.footer-box {
	max-width: 100%;
}

.social {
	text-align: left;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.social__text {
	margin-bottom: 8px;
}

.social__link {
	width: 27px;
	height: 27px;
}

.banner {
	margin-bottom: 22px;
	padding-bottom: 10px;
}

.banner h1 {
	margin-bottom: 13px;
}

.banner .h4 {
	margin-bottom: 23px;
}

.banner .btn {
	padding: 14px 20px;
	width: 100%;
	font-size: 18px;
	line-height: 22.5px;
}

.sliders {
	gap: 8px;
	margin-bottom: 43px;
}

.sliders__line:nth-child(2) .sliders__item--lg {
	margin-left: 0;
	margin-right: 13px;
}

.sliders__line:nth-child(3) .sliders__item--lg {
	margin-right: 13px;
}

.sliders__item {
	margin-left: 0;
	margin-right: 13px;
}

.sliders__item--lg.sliders__item--crown.sliders__item svg {
	width: 49px;
	height: 49px;
}

.sliders__item--lg.sliders__item svg {
	height: 49px;
	width: 109px;
}

.sliders svg {
	width: 49px;
	height: 49px;
}

.blog {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 110px;
}

.blog__title {
	margin-bottom: 18px;
}

.blog__box {
	border-width: 2px;
	border-radius: 50px;
	padding-right: 4px;
	padding-left: 8px;
	height: 421px;
}

.blog__list {
	padding-top: 8px;
	padding-right: 6px;
}

.blog__list::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

.blog__list::-webkit-scrollbar-thumb {
	max-height: 70px;
	height: 70px;
}

.blog__list::-webkit-scrollbar-button:vertical {
	height: 58px;
}

.blog__date {
	margin-top: 5px;
}

}

@-webkit-keyframes animate-ltr {

0% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

100% {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

}

@keyframes animate-ltr {

0% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

100% {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

}

@-webkit-keyframes animate-rtl {

0% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

100% {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

}

@-webkit-keyframes animate-ttb {

0% {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

}

@keyframes animate-ttb {

0% {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

}

@-webkit-keyframes animate-btt {

0% {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

to {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

}

@keyframes animate-btt {

0% {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

to {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

}

